@import "~@storyscript/vue/dist/storyscript-vue.css";
@import "~@storyscript/vue/src/scss/variables/index.scss";
@import "~bulma/sass/utilities/mixins";
@import "~perfect-scrollbar/src/css/main";

@import "_code";
@import "_sidebar";
@import "_nprogress";
@import "_custom-blocks";
@import "_content";
@import "_feature";

.page {
  padding-bottom: 2rem;
}

html.is-clipped.is-modal-blur>body>div>:not(.modal) {
  filter: blur(0px);
}

html.is-clipped.is-modal-blur>body>div>div>:not(.modal) {
  filter: blur(8px);
}

.modal {
  max-height: 100vh;
}

p>svg {
  vertical-align: text-bottom;
}

.page-nav.content {
  .inner {
    min-height: 2rem;
    border-top: 1px solid $light;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.bordered-bottom-light {
  border-bottom: 1px solid $light;
}

.ps-container {
  position: relative;
}

.search-form {
  padding: 1rem 0 2rem !important;

  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: darken(nth($grays, 4), 10%) !important;
  }
}

.algolia-autocomplete {
  .input {
    padding-right: 2.25rem !important;
  }

  &,
  &.algolia-autocomplete-right .ds-dropdown-menu {
    width: 100%;
    max-width: 100%;
  }

  .ds-dropdown-menu {
    min-width: auto !important;
  }
}